<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>каталог</title>
    <link rel="stylesheet" href="/vue-project/src/Views/styleIndex.css">
</head>
<body>
    <div class="card">
        <div class="card_image">
                
        </div>
        <div class="text_block">
            <p>Категория товара | Наименование товара</p>
            <p>Описание товара</p>
            <p>Производитель</p>
            <p>Поставщик</p>
            <p>Цена</p>
            <p>Единица измерения</p>
            <p>Количество на складе</p>
        </div>
        <div class="card_sale">
            <h1>15%</h1>
        </div>
    </div>
</body>
</html>